[Unit]
Description=Run Network Protection after boot and every 24 hours

[Timer]
OnBootSec=2min
OnUnitInactiveSec=24h
AccuracySec=5min
RandomizedDelaySec=10min
Unit=networkprotection.service

[Install]
WantedBy=timers.target
